label init
  s_clear temp 1

label LOOP_RESET

  // setup counter to 16384 + 255
  push constant 16639
  pop temp 0

  // toggle the value to write
  s_not temp 1

label LOOP_START
  // put the write destination into THIS
  push temp 0
  pop pointer 0

  // put the value to write
  // on the stack
  push temp 1

  // do the write
  pop this 0

  // decrement temp0
  s_dec temp 0

  // decide if we need to reset
  push temp 0
  push constant $SCREEN
  gt

  if-goto LOOP_START
  goto LOOP_RESET
